body{
    min-height: 100vh;
    background: linear-gradient(#5336c9,#5cbaf9);
  }
  
  .contact-form{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    text-align: center;
  }
  
  
  .greeting{
   margin-bottom: 20px;
  }
  
  
  .contact-form h1{
    margin-top: 100px;
    font-weight: 400;
    font-size: 45px;
  }
  
  .names{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .label{
    align-self: flex-start;
    margin-left: 5px;
  }
  
  
  .inputs{
    margin: 5px;
    line-height: 30px;
  }
  
  #submit-btn{
    font-size: 15px;
    width: 150px;
    margin:10px auto;
    background-color: #5222f9;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 755px){
  
  .contact-form{
    width: 50%;
  }
  
  }
  